@model Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Imagen" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">Presidente: @Model.Presidente</p>
        <p class="card-text">Estadio: @Model.Estadio</p>
    </div>
</div>
